
// ------------
// ------------
// VARIABLES //
// ------------
// ------------

// COLORS
$teal   : #009688;
$white  : #ffffff;




body {
  margin:0;
  padding:0;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-size: 14px;
  text-rendering: geometricPrecision;
}
strong {
  font-weight: 700;
}
i {
  font-weight: 400i;
}
h2 {
  font-size: 1.6em;
  font-weight: 400;
  margin-top: 0;
  @media screen and (min-width: 768px) {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
a {
  color: $white;
  text-decoration: none;
  border-bottom: 1px dotted $white;
  opacity: .7;
  transition: all .3s ease-in-out;
  &:hover {
    opacity: .95;
  }
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

#legend {
  position: absolute;
  top: -100%;
  bottom: 150%;
  right: 22px;
  padding: 12px;
  opacity: 0;
  color: $white;
  background: $teal;
  box-shadow: 0 0 24px darken($teal, 10%);
  z-index: 10000;
  transition: all .4s ease-out;
  &.active {
    top: 22px;
    left: 22px;
    bottom: 22px;
    opacity: 1;
  }
  & .close-btn-container {
    display: block;
    width: 50%;
    border: 1px dotted rgba($white, 0.4);
    margin: 22px auto;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    &:hover {
      border: 1px dotted rgba($white, 0.9);
      cursor: pointer;
    }
    @media screen and (min-width: 768px) {
      margin: 44px auto 22px auto;
    }
  }
  @media screen and (min-width: 375px) {
    width: 300px;
    &.active {
      left: inherit;
      bottom: inherit;
    }
  }
}
#legendIcon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  color: $white;
  background: $teal;
  box-shadow: -4px 4px 24px darken($teal, 10%);
  z-index: 10000;
  opacity: 0;
  font-size: 1.2em;
  transition: opacity .4s ease-out;
  &.active {
    opacity: 1;
    & .legend-icon {
      border-bottom: 1px dotted rgba($white, 0.4);
      &:hover {
        border-bottom: 1px dotted rgba($white, 0.9);
        cursor: pointer;
      }
    }

  }
}
